<link rel="stylesheet" type="text/css" href="/Content/Index.css"/>

<div class="whole" id="all_block">
    <div id="first">
        <p><br>
            <span style="color: #506E8C">improve</span><br>
            <span style="color: black">your</span><br>
            <span style="color: #506E8C">language</span><br>
        </p>
    </div>

    <div id="second">

        <br><br>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/Images/move1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/Images/move2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/Images/move3.jpg" style="width:100%">
            </div>
        </div>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div>
            <a><br>
                <div style="text-align: center;">
                    <h1>A few words about the application:</h1>
                </div><br>
                    <dl>
                        <dt>The application is versatile and mobile.</dt>
                        <dd>
                            Are you tired of the weight of the books which are worn in your bag?
                            Do you live in a constant hurry and to find a moment to replay some foreign words
                            sounds like a miracle? If only one of your answers was 'yes' - lucky you!
                            Our application is specifically for you!
                            With NewLangHelper you are able to study whenever you are:
                            <ul>
                                <li>when you travel</li>
                                <li>in a waiting room before visit to the doctor</li>
                                <li>
                                    when you wait until your girlfriend end up
                                    trying on new dresses in a shopping centre
                                </li>
                                <li>when your boyfriend lost his mind for a football match</li>
                                <li>when you are just bored</li>
                            </ul>
                        </dd>
                        <dt>The universal NewLangHelper application was designed for all interested users.</dt>
                        <dd>
                            There is the only one thing that you need to meet: to own your mobile device
                            which has the ability to run our aplication.
                        </dd>
                        <br/>
                        <dt>How it works?</dt>
                        <dd>
                            After you have signed, you will get some basic groups od words in foreign language
                            which you have chosen before. During studying you can create your own groups
                            and add new index words which you want to learn. It allows you to generate your own data base
                            which inude everything you want to study.
                        </dd>
                    </dl>
</a>
        </div>
    </div>

    <div id="third">
        <p><br>
            <span style="color: #506E8C">be</span><br>
            <span style="color: black">proud</span><br>
            <span style="color: #506E8C">of</span><br>
            <span style="color: black">yourself</span><br><br>
        </p>
    </div>

    <div id="footer">Enjoy !</div>

</div>
