<header>
<h1 id="center_text"> NewLangHelper </h1>
</header>

<section>
    <div>
        <div id="bold_phrase">Zawsze chciałeś nauczyć się nowego języka, ale nigdy nie miałeś motywacji?</div>
        <div id="bold_phrase">A może podszkolić już znany, ale dawno zapomniany niemiecki?</div>
        <div id="bold_phrase"> A może po prostu poćwiczyć pamięć w ciekawy i przyjemny sposób?</div>
        <div id="bold_phrase">
            To wszystko, i jeszcze więcej, umożliwi Ci nasza aplikacja!
        </div>
        <div id="bold_phrase"> Zalety naszej aplikacji to między innymi</div>
        <ul>
            <li id="no_bullets"> Darmowa </li>
            <li id="no_bullets"> Prosta w użyciu </li>
            <li id="no_bullets"> Rejestracja trwa kilka sekund </li>
        </ul>
        <div id="bold_phrase"> Skorzystaj już teraz! </div>
    </div>
</section>