<h2>Please log in or register</h2>

<form ng-submit="login()">
    <label for="login-username">Username:</label>
    <input type="text" id="login-username" ng-model="loginModel.username" required>

    <label for="login-emailAddress">Email:</label>
    <input type="text" id="login-emailAddress" ng-model="loginModel.emailAddress" required>

    <label for="login-password">Password:</label>
    <input type="password" id="login-password" ng-model="loginModel.password" required>

    <label for="login-password2">Confirm password:</label>
    <input type="password" id="login-password2" ng-model="loginModel.password2" required>

    <input type="submit" value="Apply">
</form>