<h2>Please log in or register</h2>

<form ng-submit="login()">
    <label for="login-username">Username:</label>
    <input type="text" id="login-username" ng-model="loginModel.username" required>

    <label for="login-password">Password:</label>
    <input type="password" id="login-password" ng-model="loginModel.password" required>

    <input type="submit" value="Apply">
</form>


<form ng-submit="login()">
    <label for="register-username">Username:</label>
    <input type="text" id="register-username" ng-model="registerModel.username" required>

    <label for="register-emailAddress">Email:</label>
    <input type="text" id="register-emailAddress" ng-model="registerModel.emailAddress" required>

    <label for="register-password">Password:</label>
    <input type="password" id="register-password" ng-model="registerModel.password" required>

    <label for="register-password2">Confirm password:</label>
    <input type="password" id="register-password2" ng-model="registerModel.password2" required>

    <input type="submit" value="Apply">
</form>

