<form ng-submit="submit()">
    <ul class="list-unstyled">
        <li><label>
            Group name:
            <input type="text" ng-model="groupName" required/>
        </label></li>
        <li><label>
            First language:
            <input type="text" ng-model="firstLanguage" required/>
        </label></li>
        <li><label>
            Second language:
            <input type="text" ng-model="secondLanguage" required/>
        </label></li>
    </ul>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>