<form ng-submit="submit()" ng-if="dataLength > 0">
    <label> Group name:
        <select ng-options="opt.name group by opt.langs for opt in data.options" 
                ng-model="data.selected">
        </select>
    </label>
    
    <ul class="list-unstyled">
        <li ng-repeat="word in words">
            <label>First word:
                <input type="text" ng-model="word.firstWord" required/>
            </label>
            <label>Second word:
                <input type="text" ng-model="word.secondWord" required/>
            </label>
            <br/>
        </li>
    </ul>

    <button type="button" class="btn btn-default" ng-click="extend()">Add one more</button>

    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>

<h3 ng-if="dataLength === 0">There is no groups</h3>

