<h3>Home Page</h3>
<div class="loader" ng-show="isLoading"></div>

<a href="/#/add/group/">Add new group</a>
<a href="/#/add/card/">Add new card</a>
<a href="/#/share">Share</a>

<ul ng-if="dataLength > 0">
    <li ng-repeat="(name, list) in data">
        {{name}}
        <ul>
            <li ng-repeat="group in list">
                <button ng-click="showGroupInfo(group.id)"  
                        class="btn-link">
                    {{group.name}}
                </button>
                <button ng-click="deleteGroup(group.id)"
                        class="btn-link">
                    delete
                </button>
                <ul ng-show="wordListShow[group.id]">
                    <li ng-show="partLoading[group.id]"><div class="loader"></div></li>

                    <li ng-show="!partLoading[group.id]" ng-repeat="card in group.words">
                        {{card.firstWord}}&nbsp;-&nbsp;{{card.secondWord}}&nbsp;
                        (<button class="btn-link inline-btn-link" ng-click="deleteCard(group.id, card.pk)">delete</button>)
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3 ng-if="dataLength == 0">There is no groups</h3>
<!--
<div class="background-img"></div> //non-working image
-->